body {
    background: no-repeat;
    background-image: url(fondo.jpg);
    background-size: cover; 
}

.Calculadora{
    border: solid;
    border-radius: 10px;
    width: 500px; /*tamaño cuadrado grande*/
    padding: 30px; /*margenes(distancia al borde)*/
    background-color: rgba(255, 255, 255, 0.842);
    text-align: center; /*centro*/
    margin: auto; /*centro*/
}

#display{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 15px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold; 
    font-size: 20px;
  }

.teclado{
    background-color: rgba(163, 143, 233, 0.733);
    padding: 15px;
    border: solid;
    border-color: black;
    border-radius: 5px;
}

button{
    background-color: rgba(143, 233, 148, 0.733);
    padding: 15px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin-left:5.5px;
    margin-top: 5px;
}

