body {
    background: no-repeat;
    background-image: url(fondo.jpg);
    background-size: cover; 
}

#display{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    
  }

div {
    background-color: rgba(233, 227, 143, 0.733);
}

.Calculadora{

    border-width: medium;
    border-color:blue;
    border: solid;
    border-radius: 10px;
    width: 430px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
}