body {
    background: no-repeat;
    background-image: url(fondo.jpg);
    background-size: cover; 
}

.Calculadora{
    border: solid;
    border-radius: 10px;
    width: 450px; /*tamaño cuadrado grande*/
    padding: 30px; /*margenes(distancia al borde)*/
    background-color: rgba(255, 255, 255, 0.842);
    margin: auto; /*centro*/
}

#display{
    background-color:  black;
    padding: 15px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold; 
    font-size: 20px;
    font-family: monospace;
  }

.teclado{
    text-align: center; /*centro*/
    background-color: rgba(252, 240, 77, 0.705);
    padding: 15px;
    border: solid;
    border-color: black;
    border-radius: 5px;
}

button{
    background-color: rgba(27, 80, 255, 0.705);
    height: 60px;
    width: 60px;
    padding: 15px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin-left:5.5px;
    margin-top: 5px;
    font-weight: bold; 
    font-family: monospace;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgb(80, 80, 80);
}

button:hover{
    background-color: rgb(27, 80, 255);
}

#clear{
    background-color: rgb(1, 38, 161);
}

#borra_ultimo{
    background-color: rgb(1, 38, 161);
}

#igual{
    background-color: rgb(1, 38, 161);
}

#onoff{
    float: right;
    background-color: white;
    height: 40px;
    width: 80px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin-left:5.5px;
    margin-top: 20px;
    font-weight: bold; 
    font-family: monospace;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgb(80, 80, 80);
}

#onoff:hover{
    background-color: rgb(27, 80, 255);
}