body {
    background-image: url(fondolisa.png);
    background-size: 1300px 1500px;

    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    border: solid;
    border-color: rgb(248, 246, 115);
}