body {
    background-color: rgb(85, 196, 100);
    color: black;
    /*para cajas con margen*/
    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    border: solid;
    border-color: red;
  }
  
  .migrupo {
    background-color: yellow;
    color: green;
  }
  
  p {
    background-color: orange;
    /*cajascon margen parraf*/
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: blue;
  }
/* estilo solo para el parrafo especial*/
  #especial {
      background-color: blueviolet;  
      color:brown;
    }
