body{
    background-image: url(fondo4.jpg);
    
}

@font-face{
    font-family: 'Zrnic';
    src: url("zrnic___.ttf");
}
div {
    color: blanchedalmond;
    /*color: rgb(248, 21, 248);*/
    font-family: 'Zrnic';
    margin-top: 2.5%;
    
}
canvas {
    text-align: center;
    background-color: black;
    opacity: 0.9;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    border-radius: 5px;
    margin-left: 27%;
    margin-top: 1%;
  }